@*@model List<Domain.Entities.SlidersDiscoveryVideo.SliderDiscoveryVideo>*@
@model List<SliderDiscoveryVideo>
 @{
    ViewData["Title"] = "Index";
}

 @*<section class="pandora-container">
    <div class="container">
        <div class="row">
            <div class="pandora-banner-div">
                <h3 class="pandora-banner-title">Slider Discovery Video</h3>
                <button class="addnewb"><a asp-action="Create" asp-controller="SliderDiscoveryVideo">Add new</a></button>
            </div>
            <div>
                <div class="container-p">
                    <div class="row">
                        <div class="col-12">
                            @if (Model.Count() > 0)
                            {
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">Video</th>
                                            <th scope="col">Language</th>
                                            <th scope="col">Tittle</th>
                                            <th scope="col">Description</th>
                                            <th scope="col">Links</th>
                                            <th scope="col">Actions</th>
                                        </tr>
                                    </thead>    
                                    <tbody>
                                        @foreach (var slider in Model)
                                        {
                                            foreach (var translate in slider.SliderDiscoveryVideoTranslates)
                                            {
                                                <tr>
                                                    <td><img style="width:27%" class="table-img" src="~/sliderdiscoveryvideogallery/@slider.Video" /></td>   
                                                    <td>@translate.LangCode</td>
                                                    <td>@translate.Tittle</td>
                                                    <td>@translate.Description</td>
                                                    <td>@translate.Links</td>
                                                    <td class="p-buttons">  
                                                      <a class="btn btn-outline-primary" asp-action="Detail" asp-route-id="@slider.Id">Detail</a>
                                                      <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@slider.Id">Edit</a>
                                                      <form style="display: inline-block;" asp-action="Delete" asp-route-id="@slider.Id" method="post">
                                                            <button type="submit" class="btn btn-outline-danger">Delete</button>
                                                      </form>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@


<section class="pandora-container">
    <div class="container">
        <div class="row">
            <div class="pandora-banner-div">
                <h3 class="pandora-banner-title">Slider Discovery Video</h3>
                <button class="addnewb"><a asp-action="Create" asp-controller="SliderDiscoveryVideo">Add new</a></button>
            </div>
            <div style="margin-top: 3rem;">
                <div class="container-p">
                    <div class="row">
                        <div class="col-12">
                            @if (Model.Count() > 0)
                            {
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="text-center" scope="col">Video</th>
                                            <th class="text-center" scope="col">Language</th>
                                            <th class="text-center" scope="col">Tittle</th>
                                            <th class="text-center" scope="col">Description</th>
                                            <th class="text-center" scope="col">Links</th>
                                            <th style="width: 10rem;" class="text-center" scope="col">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var slider in Model)
                                        {
                                            foreach (var translate in slider.SliderDiscoveryVideoTranslates)
                                            {
                                                <tr data-id="@slider.Id">
                                                    <td>
                                                        <video style="width: 111%;height: 124px;" controls>
                                                            <source src="~/sliderdiscoveryvideogallery/@slider.Video" type="video/mp4" />
                                                            Your browser does not support the video tag.
                                                                                                                </video>
                                                    </td>
                                                    <td style="position: relative;top: 50px;}" class="text-center">@translate.LangCode</td>
                                                    <td style="position: relative;top: 50px;}" class="text-center">@translate.Tittle</td>
                                                    <td style="position: relative;top: 50px;}" class="text-center">@translate.Description</td>
                                                    <td style="position: relative;top: 50px;}" class="text-center">@translate.Links</td>
                                                    <td class="p-buttons text-center" style="justify-content: center; position:relative; top:50px;">
                                                        <a class="btn btn-outline-primary" asp-action="Detail" asp-route-id="@slider.Id">Detail</a>
                                                        <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@slider.Id">Edit</a>
                                                        @*<form style="display: inline-block;" asp-action="Delete" asp-route-id="@slider.Id" method="post">
                                            <button type="submit" class="btn btn-outline-danger">Delete</button>
                                            </form>*@
                                                        <a class="delete-sliderdiscoveryvideo" data-id="@slider.Id" data-toggle="tooltip" data-original-title="Remove" style="cursor: pointer;">
                                                            <i class="fa-solid fa-trash" style="color: #c81921;" onmouseover="this.style.color='#ff0000';" onmouseout="this.style.color='#c81921';"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>