@model BannerGiftUpdateVM

@{
    ViewData["Title"] = "Edit";
}

<div class="footer-menu-edit">

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <strong>Error:</strong> There are some validation errors. Please fix them before proceeding.
    </div>
}

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

    <div class="form-group mt-4" style="margin-top: 80px">
        <div class="image">
            <img id="previewImage" class="img-fluid" src="~/bannergiftgallery/@Model.Photo" />
        </div>
        <div class="form-group">
                <label class="stylelabel">Photo:</label>
            <input type="file" class="form-control" name="NewImage" onchange="previewFile()">
        </div>
        <input type="hidden" name="Image" value="@Model.Photo">
    </div>

    @for (var i = 0; i < Model.Translates.Count; i++)
    {
        <div class="form-group mt-4">
            <input type="hidden" id="translates[@i].LangCode" name="Translates[@i].LangCode" value="@Model.Translates[i].LangCode" />
                <label class="stylelabel" for="translates[@i].Tittle">Title (@Model.Translates[i].LangCode):</label>
            <input type="text" id="translates[@i].Tittle" name="Translates[@i].Tittle" class="form-control" value="@Model.Translates[i].Tittle" required>
        </div>
        
        <div class="form-group mt-4">
                <label class="stylelabel" for="translates[@i].Description">Description (@Model.Translates[i].LangCode):</label>
            <textarea id="translates[@i].Description" name="Translates[@i].Description" class="form-control" required>@Model.Translates[i].Description</textarea>
        </div>
        
        <div class="form-group mt-4">
                <label class="stylelabel" for="translates[@i].Links">Links (@Model.Translates[i].LangCode):</label>
            <input type="text" id="translates[@i].Links" name="Translates[@i].Links" class="form-control" value="@Model.Translates[i].Links" required>
        </div>
    }

    <div class="form-group mt-4">
        <button type="submit" class="btn btn-primary">Save</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>
</div>

<script>
    function previewFile() {
        var preview = document.getElementById('previewImage');
        var file = document.querySelector('input[type=file]').files[0];
        var reader = new FileReader();

        reader.onloadend = function () {
            preview.src = reader.result;
        }

        if (file) {
            reader.readAsDataURL(file);
        } else {
            preview.src = "~/bannergiftgallery/@Model.Photo";
        }
    }
</script>

